<div
     class="h-full m-auto bg-[url('~assets/images/login-img.jpg')] bg-no-repeat bg-center bg-cover flex justify-center items-center">

    <div
         class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 h-fit">
        <mat-error *ngIf="invalidUser">
            Invalid Username Or Password
        </mat-error>
        <form [formGroup]="authForm"
              class="space-y-6"
              action="#">
            <h5 class="!text-xl !font-medium text-gray-900 dark:text-white">Sign in</h5>
            <mat-form-field class="!block">
                <input matInput
                       placeholder="User name"
                       formControlName="name"
                       name="username"
                       required>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="!block">
                <input matInput
                       type="password"
                       placeholder="Password"
                       formControlName="password"
                       name="password"
                       required>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <div class="flex items-start">
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                        <input id="remember"
                               type="checkbox"
                               value=""
                               class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800">
                    </div>
                    <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
                </div>
            </div>
            <button (click)="signIn()"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login
                to your account</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Not registered? <a class="text-blue-700 cursor-pointer hover:underline dark:text-blue-500">Create
                    account</a>
            </div>
        </form>
    </div>
</div>