<div
     class="!max-w-lg bg-white border cursor-pointer border-gray-200 p-2 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 w-80 h-80">
    <a>
        <img [src]="item.image"
             class="w-40 h-40 m-auto" />
        <mat-icon>favorite_border</mat-icon>
    </a>
    <div class="px-5 pb-5">
        <h5 class="!text-xl !font-semibold tracking-tight p-2 !text-gray-900 truncate dark:text-white">{{item.title}}
        </h5>
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">${{item.price}}</span>
            <a
               class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                to cart</a>
        </div>
    </div>
</div>